<div class="events-container">
    <div class="event-card" *ngFor="let booking of bookingsList">
        <p class="event-title"><strong>Booking Id: </strong>{{booking._id}}</p>
        <p class="event-date"><strong>Event: </strong>{{booking.event.title}}</p>

        <div class="event-card-footer">
            <button (click)="cancelBooking(booking)">Cancel booking</button>
        </div>
    </div>
</div>
