.form-sign-up {
    width: 20rem;
    height: 20rem;
    margin: 10rem auto;
    padding: 1rem;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    border: 1px solid;

    .validation-msg {
        display: none;
        color: red;
    }

    label {
        display: block;
    }

    fieldset {
        border: none;

        &.invalid {
            .validation-msg {
                display: block;
            }
        }
    }
}
