.events-container {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .event-card {
        border: 1px solid;
        padding: 1rem;
    }
}
