<div class="main-header">
    <h3 class="heading">Meet it</h3>
    <p class="auth-data" *ngIf="user">
        {{user.email}} | <button (click)="logOut()">Logout</button>
    </p>

    <p class="auth-data" *ngIf="!user">
        <span (click)="navigateToLogin()">Login</span> |
        <span (click)="navigateToRegistration()">Registration</span>
    </p>
</div>
