.main-header {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    .heading {
        margin: 0;
        flex-grow: 1;
    }

    .auth-data {
        margin: 0 0 0 0;
    }
}
