.events-container {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &.form-open {
        width: calc(100% - 20rem);
    }

    .event-card {
        border: 1px solid;
        padding: 1rem;
    }
}


