<div class="events-container" [ngClass]="{'form-open': formIsOpen}">
    <div class="event-card" *ngFor="let event of userEventsList">
        <p class="event-title"><strong>Event Id: </strong>{{event._id}}</p>
        <p class="event-date"><strong>Event: </strong>{{event.title}}</p>
        <p class="event-creator"><strong>Creator: </strong>{{event.creator.email}}</p>

        <div class="event-card-footer">
            <button [routerLink]="event._id">Details</button>
            <button (click)="openForm(event._id)">Edit</button>
            <strong *ngIf="event.canceled">Canceled</strong>
            <button *ngIf="!event.canceled" (click)="cancelEvent(event)">Cancel event</button>
        </div>
    </div>
</div>

