<div class="events-container">
    <div class="event-card" *ngFor="let event of eventsList">
        <p class="event-title"><strong>Title: </strong>{{event.title}}</p>
        <p class="event-date"><strong>Date: </strong>{{event.date}}</p>
        <p class="event-price"><strong>Price: </strong>{{event.price}}</p>
        <p class="event-creator"><strong>Creator: </strong>{{event.creator.email}}</p>

        <div class="event-card-footer">
            <button [routerLink]="'/public/event/' + event._id">Details</button>
            <button *ngIf="canBooking(event)" (click)="bookEvent(event)">Book event</button>
            <button *ngIf="canCancelBooking(event)" (click)="cancelBooking(event)">Cancel booking</button>
        </div>
    </div>
</div>
