<button (click)="openForm(0)">Create</button>

<div class="events-page-container">
    <app-events-list
        [formIsOpen]="formIsOpen"
        [userEventsList]="userEventsList"
        (openFormEventEmitter)="openForm($event)"
        (cancelEventEventEmitter)="cancelEvent($event)"></app-events-list>

    <app-event-form
        [formIsOpen]="formIsOpen"
        [userEvent]="userEvent"
        (createEventEventEmitter)="createEvent($event)"
        (updateEventEventEmitter)="updateEvent($event)"
        (closeFormEventEmitter)="closeForm()"></app-event-form>
</div>
