<form [formGroup]="formSignIn" (ngSubmit)="onSubmit()" class="form-sign-in">
    <h3>Login</h3>

    <fieldset [ngClass]="{'invalid': isFieldInvalid('email')}">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" name="email" id="email">
        <small class="validation-msg">Field required</small>
    </fieldset>

    <fieldset [ngClass]="{'invalid': isFieldInvalid('password')}">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" name="password" id="password">
        <small class="validation-msg">Field required</small>
    </fieldset>

    <fieldset>
        <input type="submit" value="Login">
    </fieldset>

    <a [routerLink]="'/auth/sign-up'">Registration</a>
</form>

