<form [formGroup]="formEvent" (ngSubmit)="onSubmit()" class="events-form" [ngClass]="{'form-open': formIsOpen}">
    <fieldset [ngClass]="{'invalid': isFieldInvalid('title')}">
        <label for="title">Title:</label>
        <input type="text" formControlName="title" name="title" id="title">
        <small class="validation-msg">Field required</small>
    </fieldset>

    <fieldset [ngClass]="{'invalid': isFieldInvalid('description')}">
        <label for="description">Description:</label>
        <input type="text" formControlName="description" name="description" id="description">
        <small class="validation-msg">Field required</small>
    </fieldset>

    <fieldset [ngClass]="{'invalid': isFieldInvalid('price')}">
        <label for="price">Price:</label>
        <input type="number" formControlName="price" name="price" id="price">
        <small class="validation-msg">Field required</small>
    </fieldset>

    <fieldset [ngClass]="{'invalid': isFieldInvalid('date')}">
        <label for="date">Date:</label>
        <input type="datetime-local" formControlName="date" name="date" id="date">
        <small class="validation-msg">Field required</small>
    </fieldset>

    <fieldset>
        <input type="submit" value="Create">
        <button type="button" (click)="closeForm()">Cancel</button>
    </fieldset>
</form>
