.events-form {
    width: 20rem;
    height: auto;
    position: absolute;
    right: -20rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
    border: 1px solid;

    &.form-open {
        right: 0;
    }

    .validation-msg {
        display: none;
        color: red;
    }

    label {
        display: block;
        color: #000;
    }

    fieldset {
        border: none;

        &.invalid {
            .validation-msg {
                display: block;
            }
        }
    }
}


